<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <permission android:name="com.example.android_ipc_grpc.permission.MY_SERVICE_PERMISSION"/>
    <uses-permission android:name="com.example.android_ipc_grpc.permission.MY_SERVICE_PERMISSION"/>

    <application
        android:name=".IpcApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android_ipc_grpc"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Android_ipc_grpc">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".ipc.IpcService"
            android:exported="true"
            android:enabled="true"
            android:permission="com.example.android_ipc_grpc.permission.MY_SERVICE_PERMISSION">
            <intent-filter>
                <action android:name="com.example.android_ipc_grpc.START_SERVICE" />
            </intent-filter>
        </service>
    </application>
</manifest>